
/* IG 3.2 */
.buildingImg{
position: absolute;
width: 368px;
height: 460px;
left: 22px;
top: 103px;

background: url(IG 3.png);
border-radius: 7px;
 }

.buildingName{
/* 1 World Trade Center */

position: absolute;
width: 246.99px;
height: 20.72px;
left: 84px;
top: 577px;

font-family: Greycliff CF;
line-height: normal;
font-size: 24px;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
border-radius: 5px;	
}

.buildingData {
/* Era 0 - New York City - Slow Build */

position: absolute;
width: 287px;
height: 14.62px;
left: 64px;
top: 610px;

font-family: Greycliff CF;
line-height: normal;
font-size: 14px;
text-align: center;
letter-spacing: 0.05em;

color: #7294E8;
border-radius: 5px;
}


.actionButtons-1 {
/* 🏷 Sell Building */

position: absolute;
width: 94.02px;
height: 16px;
left: 49.49px;
top: 658.52px;

font-family: Greycliff CF;
line-height: normal;
font-size: 11px;
text-align: center;
letter-spacing: 0.05em;

color: #333333;
border-radius: 5px;
}

.actionButton {
/* Rectangle */

position: absolute; 
/*unsure if the position should be absolute*/
/*width: 117px;*/
/* should be flexible to width of the text */

height: 40px;

/*left: 38px; */
/*Need a relative positioning  left and right */
/*sum the width of the other one plus 10 pixels*/
top: 645px;

border: 2px solid #E0E0E0;
box-sizing: border-box;
border-radius: 22.5px;
}


.section-heading {
/* Architecture */

/*position: absolute; */
/*width: 201px;*/
height: 33px;
left: 22px;
/*top: 733px;*/

font-family: Greycliff CF;
line-height: normal;
font-size: 24px;
letter-spacing: 0.05em;

color: #000000;
border-radius: 5px;
}







.building-attr-names-1 {
/* Built */

position: absolute;
width: 38px;
height: 15px;
left: 22px;
top: 785px;

font-family: Greycliff CF;
line-height: normal;
font-size: 12px;
letter-spacing: 0.05em;

color: #828282;
border-radius: 5px;


}

/* Group 27 */
/*Build year and height*/

position: absolute;
width: 54px;
height: 50px;
left: 22px;
top: 785px;



/* Built */

position: absolute;
width: 38px;
height: 15px;
left: 22px;
top: 785px;

font-family: Greycliff CF;
line-height: normal;
font-size: 12px;
letter-spacing: 0.05em;

color: #828282;
border-radius: 5px;


.build-year{ 

position: absolute;
width: 54px;
height: 35px;
left: 22px;
top: 800px;

font-family: Greycliff CF;
line-height: normal;
font-size: 22px;
letter-spacing: 0.05em;

color: #000000;
border-radius: 5px;
 }

/*attributes!*/

.attribute-list-img {


/* Ellipse */

position: absolute;
width: 36.69px;
height: 36.74px;
left: 22px;
top: 1287px;

background: #C4C4C4;

/*logic 
if background-img is none, 
then default no image for this thing.

if background-color is a color, show that hex.
*/
}


/* Modern */
.attr-list{ 
position: absolute;
width: 133.8px;
height: 24.49px;
left: 75.23px;
top: 1289.99px;

font-family: Lato;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 16px;
letter-spacing: 0.04em;

color: #231F20;
}


/* Style */
.attr-feature {
position: absolute;
width: 133.8px;
height: 17.29px;
left: 75.23px;
top: 1308.17px;

font-family: Lato;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 12px;
letter-spacing: 0.04em;

color: #828282;
}




parents are just like the preview of the buildings, just no prices

children




full image pull up!
